<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Résidence Kilimandjaro{% endblock %}</title>
    <!-- Lien vers Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-pzjw8f+ua7Kw1TIq0LZZWwU63rriW0kHmkKQZGrY6zzW9V8X3ps3ioA8FV+rwk8z" crossorigin="anonymous">
</head>
<body>
    <!-- Menu de navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Résidence Kilimandjaro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Chambres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Réservations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Contenu principal de la page -->
    <div class="container">
        {% block content %}
        <!-- Contenu spécifique aux pages -->
        {% endblock %}
    </div>

    <!-- Scripts JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4kI5+0B2m9Qup1FkJ6V5MZ06U9P1p6u8r6k4zF" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0LZZWwU63rriW0kHmkKQZGrY6zzW9V8X3ps3ioA8FV+rwk8z" crossorigin="anonymous"></script>
</body>
</html>
